<!DOCTYPE html>

<head>
  <title>hello application</title>
  <meta charset=utf-8>
</head>

<body>
  Hello from Python.<br/><br/><br/>

  You can edit <a href='https://github.com/morion-devops/hello/blob/master/templates/index.html' target="_blank">this file</a> by creating fork and pull request.  
  For example, you can change the greeting in the first line to your name or any word.<br/>
  After I accept your pull request, the CI/CD pipeline will automatically build a new version of app and deploy it into Kubernetes cluster.

</body>